{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "import",
    "flowtype"
  ],
  "rules": {
    "new-cap": [
      2
    ]
  },
  "parser": "babel-eslint"
}
